body{background:#242424;margin:20px;font-family:Tahoma}
th{background:#2F3034;color:#BDB670;text-align:left} 
table{padding:4px;background:#4A4945;font-size:10px;color:#FFF}
h2,h3{color:#D2D1CF}#c{background:#3B3C37}
img{height:12px;background:#99CC00;margin:0 3px}
#r{height:12px;background:#999900}
#clr{background:none;color:#FFF;font-size:20px}
